/.idea/
/ProjConsole/bin
/ProjConsole/obj
/ProjForms/Properties
/ProjForms/obj
/ProjForms/bin
/MatchGame/bin
/MatchGame/obj
/MatchGame/Properties
/MatchGame/App.Config
/ProjForms/
/ProjConsole/2DReverseArray.cs
/ProjConsole/BubbleSortAscending.cs
/ProjConsole/DeleteRowAndColFrom2DArray.cs
